.userpic-stub {
    display: block;
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    text-align: center;
}

.userpic-small {
    width: 1.125rem;
    height: 1.125rem;
}

.userpic-medium {
    width: 2.5rem;
    height: 2.5rem;
}

.userpic-large {
    width: 7.5rem;
    height: 7.5rem;
}

.userpic-stub__icon {
    width: 95%;
    height: 95%;
    color: var(--primary-color);
}

.userpic {
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
}