.add-location__container {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    align-items: flex-start;

    border-radius: 3.125rem;
    background: linear-gradient(95deg, rgba(113, 135, 168, 0.10) -1.44%, rgba(113, 135, 168, 0.10) 82.74%);
    box-shadow: 0.25rem 0.25rem 1.5rem 0px rgba(255, 79, 24, 0.13);

    padding: 2.5rem 3rem;
    width: 100%;

    margin-top: 2rem;
}