.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 52px;

    width: 502px;
    margin: auto;
}

.sign-up-form__personal-data {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px; 
}

.sign-up-form__password {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px; 
}

.sign-up-form__buttons {
    display: flex;
    gap: 20px;
}

.error-message {
    position: absolute;
    margin: 0;
    padding: 0;
    color:  var(--danger-red-2);
    font-size: 12px;
}

.input-container {
    position: relative;
}
