.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 52px;

    width: 50vw;
    height: auto;
    margin: auto;
    padding: 40px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 24px;
}

.sign-up-form__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
}

.sign-up-form__description {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--text-black);
    margin: 0;
}

.sign-up-form__step {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
}

.sign-up-form__personal-data {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px; 
}

.sign-up-form__password {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px; 
}

.sign-up-form__buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.error-message {
    position: absolute;
    margin: 0;
    padding: 0;
    color:  var(--danger-red-2);
    font-size: 0.75rem;
}

.input-container {
    position: relative;
}

.password-field-container {
    position: relative;
    display: flex;
    align-items: center;
}

.show-hide-icon {
    box-sizing: border-box;
    position: absolute;
    left: 93%;
    bottom: 1px;

    padding: 8px 10px 6px;
}

.show-hide-icon:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.link {
    text-decoration: none;
}