.form-input__label {
    display: block;
    width: 100%;
}

.form-input__label-text {
    display: block;
    margin-bottom: 0.5rem;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-black);
}
  
.form-input__field {
    width: 100%;
    max-width: fill-available;
    height: 2.25rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    color: var(--black);
    border: 1px solid transparent;
    background-color: var(--light-gray);
    border-radius: 0.3125rem;
    box-sizing: border-box;
    transition: border 0.2s ease;
}

/* Hide calendar icon for date inputs */
.form-input__field[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.form-input__field[type="date"]::-moz-calendar-picker-indicator {
    display: none;
}

.form-input {
    width: 100%;
}
  
.form-input__field::placeholder {
    color: var(--dark-gray);
    opacity: 1;
}

.form-input__field:focus {
    outline: none;
    border: 1px solid var(--primary-color);
}