.trip-details {
    display: flex;
    flex-direction: column;
    gap: 27px;

    width: 100%;
    max-width: 765px;
}

.trip-datepicker .react-datepicker__day--in-range,
.trip-datepicker .react-datepicker__day--range-start,
.trip-datepicker .react-datepicker__day--range-end,
.trip-datepicker .react-datepicker__day:hover,
.trip-datepicker .react-datepicker__day--in-range:hover,
.trip-datepicker .react-datepicker__day--range-start:hover,
.trip-datepicker .react-datepicker__day--range-end:hover {
    background-color: var(--primary-color);
    color: #000;
}

.trip-details__name {
    width: 81%;
}