.button {
    display: flex;
    height: 2.125rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    gap: 0.5rem;

    border-radius: 0.25rem;

    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
}

.button:hover {
    cursor: pointer;
}

.primary-button {
    border: none;
    background-color: var(--primary-color);
    color: #FFF;
    transition: background-color 0.2s ease;
}

.primary-button:hover:not(:disabled) {
    background-color: var(--primary-color-dark);
}

.secondary-button {
    border: none;
    background-color: rgba(255, 79, 24, 0.10);
    color: var(--primary-color);
}

.danger-button {
    border: 1px solid var(--danger-red-2);
    background-color: var(--danger-red-1);
    color: var(--danger-red-2);
}

.plain-button {
    border: none;
    background-color: #FFF;
    color: var(--primary-color);
}

button:disabled {
    cursor: default;
    opacity: 0.7;
}
