.secondary-button {
    display: flex;
    align-items: center;
    height: 34px;
    padding: 8px 12px;
    gap: 8px;

    border: none;
    border-radius: 4px;

    background-color: rgba(255, 79, 24, 0.10);
    color: var(--primary-color);

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.secondary-button:hover {
    cursor: pointer;
}