.auth-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 52px;

    width: 24vw;
    height: auto;
    margin: auto;
    padding: 40px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 24px;
}

.auth-form__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.auth-form__data-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 52px;
}

.auth-form__buttons {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: stretch;
}
  
.form-wrapper {
    padding-top: 28px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 28px;
}

.error-message {
    position: absolute;
    margin: 0;
    padding: 0;
    color:  var(--danger-red-2);
    font-size: 12px;
}

.input-container {
    position: relative;
}

.password-field-container {
    position: relative;
    display: flex;
    align-items: center;
}

.show-hide-icon {
    box-sizing: border-box;
    position: absolute;
    left: 91%;
    bottom: 1px;

    padding: 8px 10px 6px;
}

.show-hide-icon:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.link {
    text-decoration: none;
}