.auth-switcher {
    width: 100%;
}
  
.toggle-buttons {
    display: flex;
    gap: 1rem;
    position: relative;
}
  
.toggle-button {
    background: var(--light-gray);

    border: none;
    border-radius: 0.75rem;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    padding: 12px 16px;
    cursor: pointer;
    outline: none;

    flex: 1 1 auto;
}
  
.toggle-button.active-button {
    border: 1px solid var(--primary-color);
    background-color: white;

    font-weight: 600;
}

/* tabbar variant */
.tabbar {
    background: white;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
}

.tabbar__buttons {
    background: #F2F4F7;
    border-radius: 8px;
    display: flex;
}

.tabbar-button {
    border: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #7187A8;
    border-radius: 8px;
    padding: 8px;
    background: transparent;
}

.tabbar-button--active {
    background: white;
}

.tabbar-button--inactive {
    background: transparent;
}

.tabbar__search {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #F2F4F7;
    border-radius: 8px;
    padding: 8px;
    width: 224px;
    color: #7187A8;
    font-size: 14px;
    font-weight: 500;
}

.tabbar__search-icon {
    font-size: 16px;
    color: #7187A8;
    flex-shrink: 0;
}

.tabbar__search-text {
    color: #7187A8;
}