.trip-card {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 align-self: stretch;
 gap: 20px;
 border-radius: 20px;
 border: 2px solid var(--light-gray);

 width: 100%;
 padding: 25px 30px;
}

.trip-guide-link {
    cursor: pointer;

    text-decoration: none;
    color: inherit;
}

.trip-card__header {
    display: flex;
    gap: 40px;
}

.trip-card__edit-button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.trip-card__edit-button:hover {
    cursor: pointer;
}

.trip-card__info {
    display: flex;
    gap: 5px;

    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    color: var(--dark-gray);
}

p {
    margin: 0;
}