:root {
    --primary-color: #FF4F18;
    --background-color: #f5f5f5;
    --danger-red-1: #FFE3E3;
    --danger-red-2: #E03131;
    --black: #141517;
    --grey: #ADBACC;
    --light-grey: #F2F4F7;
  }