.dangerButton {
    display: flex;
    text-align: center;
    height: 34px;
    padding: 8px 12px;
    gap: 8px;

    border: 1px solid var(--danger-red-2);
    border-radius: 4px;
    background-color: var(--danger-red-1);

    color: var(--danger-red-2);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.dangerButton:hover {
    cursor: pointer;
}