/* .location-list-container {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: flex-start;

    padding: 2rem;

    border-radius: 1.25rem;
    background: var(--light-gray);

    position: fixed;
    left: 961px;
} */

.location-list-container {
    min-width: 440px;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: flex-start;
    padding: 2rem;
    border-radius: 1.25rem;
    background: var(--light-gray);
    /* position & top теперь управляются из inline-стиля */

    align-self: flex-start;
}

.location {
    display: flex;
    flex-direction: column;
    gap: 3px;

    cursor: grab;
}

.location__header {
    display: flex;
    gap: 13px;
}

.location__name {
    color: var(--black);
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.drag-icon {
    width: 16px;
    height: 16px;
}

.location-list__buttons {
    display: flex;
    gap: 14px;
}

.location-list-droppable {
    display: flex;
    flex-direction: column;
    gap: 25px;

    width: 100%;
}

.location-list-item {
    cursor: pointer;

    width: 100%;
    display: flex;
    justify-content: space-between;
}

.trash-icon {
    height: 1.2rem;
}
