.profile-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh
}

.profile-page-layout {
    width: 1168px;
    height: 773px;
    flex: 1;
    margin: 30px 72px 27px 200px;
}

.profile-page__toggler {
    width: 100%;
    display: flex;
}

.toggler-trips {

}

.toggler__security {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.password__change, .account__delete {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px
}

.password__change-text, .account__delete-text, .security-info-prohibited {
    color: var(--black);
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}