@import './styles/variables.css';

@import './components/Button/index.css';
@import './components/Header/index.css';
@import './components/Input/index.css';

@import './components/Forms/sign-up/SignUpForm.css';
@import './components/Forms/auth/AuthForm.css';
@import './components/Forms/auth/AuthSwitcher.css';

body, html {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    background-color: white;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }