.not-found-page {
    height: 100vh;

    display: flex;
    background-color: var(--light-gray);
}

.not-found-page__content {
    margin: auto;
    text-align: center;

    background-color: white;
    padding: 3.3rem 7.3rem;
    border-radius: 2rem;

    width: 30%;

    display: flex;
    flex-direction: column;
    gap: 2.6rem;
    align-items: center;
}